.form {
  padding: 0;
}

.form input,
.form button {
  box-sizing: border-box;
  line-height: var(--form-line-height);
}

.form input {
  padding: 0 10px;
}

.form button {
  padding: var(--form-element-padding);
  margin-left: 20px;
}
